# Trend Predicting

* **Problem**: Trend Predicting based on user behaviors
* **Description**: 
  * Create online preference index for each major product group
  * Predict demand trends and draw insights by product group
  * Suggest new service from 1), 2)
* **Dataset**: ? non-numeric column, and ? numeric columns
  * ? : ?
  * Non-numeric columns:
    * 16 non-numeric columns : ?
  * Numeric columns: 
    * 104 numeric columns : ?

In [2]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from pathlib import Path
import os

import datetime

# Load Data

* 'custom.csv'
* 'search1.csv'
* 'search2.csv'
* 'master.csv'
* 'session.csv'
* 'product.csv'

In [4]:
path = Path().resolve().parents[0]
product = pd.read_csv(os.path.join(path, 'Dataset', 'Product.csv'))
search1 = pd.read_csv(os.path.join(path, 'Dataset', 'Search1.csv'))
search2 = pd.read_csv(os.path.join(path, 'Dataset', 'Search2.csv'))
custom = pd.read_csv(os.path.join(path, 'Dataset', 'Custom.csv'))
session = pd.read_csv(os.path.join(path, 'Dataset', 'Session.csv'))
master = pd.read_csv(os.path.join(path, 'Dataset', 'Master.csv'))

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
print('product shape : ', product.shape)
print('search1 shape : ', search1.shape)
print('search2 shape : ', search2.shape)
print('custom shape : ', custom.shape)
print('session shape : ', session.shape)
print('master shape : ', master.shape)

product shape :  (5024906, 8)
search1 shape :  (2884943, 4)
search2 shape :  (8051172, 3)
custom shape :  (671679, 3)
session shape :  (2712907, 9)
master shape :  (847652, 5)

In [6]:
product.shape

(5024906, 8)

In [7]:
product = product[product.HITS_SEQ != 1]
product.shape

(5019730, 8)

In [8]:
search1.head()

   CLNT_ID  SESS_ID     KWD_NM  SEARCH_CNT
0  5607714  7112876   빌리프 아이크림           6
1  5607714  4090791  프리메라 마스크팩           3
2  5607714  4090791      여성청결제           1
3  5612428  1876482       명품가방           1
4  5612428   658123  콩순이 아이스크림           1

In [9]:
search2.head()

    SESS_DT     KWD_NM SEARCH_CNT
0  20180407      닥스원피스          8
1  20180407  닥터지 브라이트닝          1
2  20180407     달팡 인트랄          2
3  20180407        대상트          1
4  20180407       더블유닷          6

In [10]:
custom.head()

   CLNT_ID CLNT_GENDER  CLNT_AGE
0  4830726           F        30
1  4830874           F        40
2  4830975           F        30
3  4831275           F        30
4  4825325           F        30

In [11]:
session.head()

,CLNT_ID,SESS_ID,SESS_SEQ,SESS_DT,TOT_PAG_VIEW_CT,TOT_SESS_HR_V,DVC_CTG_NM,ZON_NM,CITY_NM
0,5873599,8641867,9,20180509,82.0,"1,890",mobile,Daejeon,Daejeon
1,5873599,6616320,21,20180611,105.0,"1,604",mobile,Busan,Busan
2,5873599,5886172,40,20180624,41.0,632,mobile,Daejeon,Daejeon
3,5873884,1050889,15,20180913,160.0,"1,035",mobile,Gyeonggi-do,Anyang
4,5874461,10298270,5,20180412,13.0,298,mobile,Seoul,Seoul

In [52]:
session['SESS_DT'].unique()

array([20180509, 20180611, 20180624, 20180913, 20180412, 20180920,
       20180903, 20180902, 20180904, 20180413, 20180930, 20180925,
       20180923, 20180825, 20180716, 20180606, 20180905, 20180927,
       20180511, 20180603, 20180521, 20180727, 20180731, 20180609,
       20180510, 20180807, 20180822, 20180910, 20180912, 20180908,
       20180907, 20180915, 20180922, 20180919, 20180529, 20180528,
       20180928, 20180831, 20180610, 20180416, 20180514, 20180824,
       20180918, 20180917, 20180805, 20180617, 20180613, 20180827,
       20180424, 20180422, 20180530, 20180604, 20180812, 20180620,
       20180826, 20180828, 20180420, 20180901, 20180411, 20180926,
       20180816, 20180503, 20180502, 20180430, 20180724, 20180705,
       20180914, 20180505, 20180419, 20180618, 20180829, 20180508,
       20180629, 20180820, 20180526, 20180730, 20180519, 20180616,
       20180818, 20180408, 20180916, 20180405, 20180710, 20180507,
       20180715, 20180814, 20180924, 20180628, 20180729, 20180823,
       20180627, 20180723, 20180720, 20180929, 20180830, 20180909,
       20180709, 20180630, 20180403, 20180404, 20180806, 20180513,
       20180702, 20180615, 20180512, 20180911, 20180728, 20180621,
       20180427, 20180426, 20180409, 20180523, 20180626, 20180612,
       20180815, 20180718, 20180803, 20180921, 20180602, 20180622,
       20180531, 20180701, 20180906, 20180421, 20180406, 20180524,
       20180717, 20180410, 20180506, 20180722, 20180707, 20180706,
       20180619, 20180417, 20180414, 20180725, 20180712, 20180522,
       20180401, 20180423, 20180608, 20180801, 20180704, 20180515,
       20180501, 20180520, 20180607, 20180605, 20180714, 20180407,
       20180817, 20180425, 20180708, 20180516, 20180802, 20180810,
       20180713, 20180813, 20180721, 20180614, 20180625, 20180623,
       20180527, 20180719, 20180525, 20180504, 20180418, 20180601,
       20180711, 20180518, 20180428, 20180415, 20180811, 20180703,
       20180804, 20180517, 20180726, 20180819, 20180809, 20180402,
       20180429, 20180808, 20180821])

In [12]:
master.head()

,PD_C,PD_NM,CLAC1_NM,CLAC2_NM,CLAC3_NM
0,64382,언더아머 남성 UA HG 아머 모크 LS 1289559-001 - 블랙 / MD[95],스포츠패션,남성일반스포츠의류,남성스포츠티셔츠
1,62282,여자 플라워덧신 2족선물세트 17403-2set,속옷/양말/홈웨어,여성양말류,여성일반양말
2,61729,88A2933253배트맨스웨트티 - 블랙 / 130,유아동의류,유아의류상의,영유아티셔츠/탑
3,61537,"닥터마틴 아드리안 블랙, 체리레드 - 02_체리레드 / 250mm(6)",패션잡화,남성화,남성부츠
4,58820,여성 그레이 스트라이프 퍼프 소매 블라우스 (128865YQ33) - 회색(앤틱실버...,남성의류,남성의류상의,남성남방셔츠

# Merge Data
1) Merge product purchase data to see features which is expected to affect on purchase of client bought given product group, not individual product

- Merge following csv files
    * Product.csv : CLNT_ID, SESS_ID(Brdige), PD_C(Bridge), PD_BUY_CT, PD_BUY_AM
    * Master.csv : PD_C(Bridge), CLAC1_NM, CLAC2_NM, CLAC3_NM
    * Session.csv : SESS_ID(Bridge), SESS_DT, DVC_CTG_NM, ZON_NM, CITY_NM
    * Custom.csv : CLNT_ID, CLNT_GENDER, CLNT_AGE
    
    
- To get data below
  
  
- Client Information
    * CLNT_ID : Client ID (Primary Key)
    * CLNT_GENDER : Client Gender
    * CLNT_AGE : Client Age
    * DVC_CTG_NM : Client Device
    * ZON_NM : Client Location (briefly)
    * CITY_NM : Client Location (in detail)
    
- Purchase Information
    * SESS_DT : Session Date
    * PD_BUY_CT : Number of product purchased
    * PD_BUY_AM : Price of product purchased
    
- Product Information
    * CLAC1_NM : Product group (largest)
    * CLAC2_NM : Product group (moderate)
    * CLAC3_NM : Product group (smallest)

In [8]:
merge1 = pd.merge(product, master)
print(merge1.shape)
merge1.head()

(5019730, 12)

,CLNT_ID,SESS_ID,HITS_SEQ,PD_C,PD_ADD_NM,PD_BRA_NM,PD_BUY_AM,PD_BUY_CT,PD_NM,CLAC1_NM,CLAC2_NM,CLAC3_NM
0,4139680,7605037,12,642112,색상:워터멜론,[바비브라운],"39,000",1,크러쉬드 립칼라 - 플럼,화장품/뷰티케어,메이크업,블러셔/쉐이딩/하이라이터
1,4350334,2023661,77,642112,색상:엔젤 / 1개,바비브라운,"39,000",1,크러쉬드 립칼라 - 플럼,화장품/뷰티케어,메이크업,블러셔/쉐이딩/하이라이터
2,5172356,4714565,47,642112,색상:카바나,[바비브라운],"39,000",1,크러쉬드 립칼라 - 플럼,화장품/뷰티케어,메이크업,블러셔/쉐이딩/하이라이터
3,5444959,6843465,24,642112,색상:워터멜론 / 1개,바비브라운,"39,000",1,크러쉬드 립칼라 - 플럼,화장품/뷰티케어,메이크업,블러셔/쉐이딩/하이라이터
4,5461276,7896792,53,642112,색상:워터멜론 / 1개,바비브라운,"39,000",1,크러쉬드 립칼라 - 플럼,화장품/뷰티케어,메이크업,블러셔/쉐이딩/하이라이터

In [9]:
merge1 = merge1.drop(['HITS_SEQ','PD_C', 'PD_ADD_NM', 'PD_BRA_NM', 'PD_NM'], axis=1)
print(merge1.shape)
merge1.head()

(5019730, 7)

   CLNT_ID  SESS_ID PD_BUY_AM PD_BUY_CT  CLAC1_NM CLAC2_NM       CLAC3_NM
0  4139680  7605037    39,000         1  화장품/뷰티케어     메이크업  블러셔/쉐이딩/하이라이터
1  4350334  2023661    39,000         1  화장품/뷰티케어     메이크업  블러셔/쉐이딩/하이라이터
2  5172356  4714565    39,000         1  화장품/뷰티케어     메이크업  블러셔/쉐이딩/하이라이터
3  5444959  6843465    39,000         1  화장품/뷰티케어     메이크업  블러셔/쉐이딩/하이라이터
4  5461276  7896792    39,000         1  화장품/뷰티케어     메이크업  블러셔/쉐이딩/하이라이터

In [10]:
merge2 = pd.merge(merge1, session)
print(merge2.shape)
merge2.head()

(5019730, 14)

,CLNT_ID,SESS_ID,PD_BUY_AM,PD_BUY_CT,CLAC1_NM,CLAC2_NM,CLAC3_NM,SESS_SEQ,SESS_DT,TOT_PAG_VIEW_CT,TOT_SESS_HR_V,DVC_CTG_NM,ZON_NM,CITY_NM
0,4139680,7605037,"39,000",1,화장품/뷰티케어,메이크업,블러셔/쉐이딩/하이라이터,1,20180526,21.0,902,desktop,Seoul,Seoul
1,4139680,7605037,"39,000",1,화장품/뷰티케어,메이크업,블러셔/쉐이딩/하이라이터,1,20180526,21.0,902,desktop,Seoul,Seoul
2,4139680,7605037,"39,000",1,화장품/뷰티케어,메이크업,블러셔/쉐이딩/하이라이터,1,20180526,21.0,902,desktop,Seoul,Seoul
3,4139680,7605037,"39,000",1,화장품/뷰티케어,메이크업,블러셔/쉐이딩/하이라이터,1,20180526,21.0,902,desktop,Seoul,Seoul
4,4139680,7605037,"39,000",1,화장품/뷰티케어,메이크업,블러셔/쉐이딩/하이라이터,1,20180526,21.0,902,desktop,Seoul,Seoul

In [11]:
merge2 = merge2.drop(['SESS_ID', 'SESS_SEQ','TOT_PAG_VIEW_CT', 'TOT_SESS_HR_V'], axis=1)
print(merge2.shape)
merge2.head()

(5019730, 10)

,CLNT_ID,PD_BUY_AM,PD_BUY_CT,CLAC1_NM,CLAC2_NM,CLAC3_NM,SESS_DT,DVC_CTG_NM,ZON_NM,CITY_NM
0,4139680,"39,000",1,화장품/뷰티케어,메이크업,블러셔/쉐이딩/하이라이터,20180526,desktop,Seoul,Seoul
1,4139680,"39,000",1,화장품/뷰티케어,메이크업,블러셔/쉐이딩/하이라이터,20180526,desktop,Seoul,Seoul
2,4139680,"39,000",1,화장품/뷰티케어,메이크업,블러셔/쉐이딩/하이라이터,20180526,desktop,Seoul,Seoul
3,4139680,"39,000",1,화장품/뷰티케어,메이크업,블러셔/쉐이딩/하이라이터,20180526,desktop,Seoul,Seoul
4,4139680,"39,000",1,화장품/뷰티케어,메이크업,블러셔/쉐이딩/하이라이터,20180526,desktop,Seoul,Seoul

In [12]:
merge3 = pd.merge(merge2, custom)
print(merge3.shape)
merge3.head()

(3983837, 12)

,CLNT_ID,PD_BUY_AM,PD_BUY_CT,CLAC1_NM,CLAC2_NM,CLAC3_NM,SESS_DT,DVC_CTG_NM,ZON_NM,CITY_NM,CLNT_GENDER,CLNT_AGE
0,4350334,"39,000",1,화장품/뷰티케어,메이크업,블러셔/쉐이딩/하이라이터,20180827,mobile,Seoul,Seoul,F,30
1,4350334,"80,000",1,화장품/뷰티케어,메이크업,BB/파운데이션/컴팩트류,20180827,mobile,Seoul,Seoul,F,30
2,4350334,"127,000",1,패션잡화,여성화,여성쪼리,20180827,mobile,Seoul,Seoul,F,30
3,4350334,"40,000",1,화장품/뷰티케어,메이크업,BB/파운데이션/컴팩트류,20180614,mobile,Seoul,Seoul,F,30
4,4350334,"40,000",1,화장품/뷰티케어,메이크업,블러셔/쉐이딩/하이라이터,20180612,mobile,Seoul,Seoul,F,30

## Explore Data (3)
* Cluster wholesale merchant
* It seems there are wholesale merchants within clients, thus we'd like to cluster them in order to see with/without them how data distribution changes

1) Merge Data for clustering
* Features expected to help us distinguish wholesale merchants
    * dd

In [18]:
merge3.head()

,CLNT_ID,PD_BUY_AM,PD_BUY_CT,CLAC1_NM,CLAC2_NM,CLAC3_NM,SESS_DT,DVC_CTG_NM,ZON_NM,CITY_NM,CLNT_GENDER,CLNT_AGE
0,4350334,"39,000",1,화장품/뷰티케어,메이크업,블러셔/쉐이딩/하이라이터,20180827,mobile,Seoul,Seoul,F,30
1,4350334,"80,000",1,화장품/뷰티케어,메이크업,BB/파운데이션/컴팩트류,20180827,mobile,Seoul,Seoul,F,30
2,4350334,"127,000",1,패션잡화,여성화,여성쪼리,20180827,mobile,Seoul,Seoul,F,30
3,4350334,"40,000",1,화장품/뷰티케어,메이크업,BB/파운데이션/컴팩트류,20180614,mobile,Seoul,Seoul,F,30
4,4350334,"40,000",1,화장품/뷰티케어,메이크업,블러셔/쉐이딩/하이라이터,20180612,mobile,Seoul,Seoul,F,30

In [21]:
clnt_id = merge3['CLNT_ID'].unique()
clac1_nm = merge3['CLAC1_NM'].unique()
clac2_nm = merge3['CLAC2_NM'].unique()
clac3_nm = merge3['CLAC3_NM'].unique()
print(clnt_id.shape)
print(clac1_nm.shape)
print(clac2_nm.shape)
print(clac3_nm.shape)

(671616,)
(37,)
(128,)
(897,)

In [67]:
client_for_clustering = []

for clnt_idx, clnt_num in enumerate(clnt_id) :
    if clnt_idx == 0:
        # in a single client
        client = merge3[merge3['CLNT_ID']==clnt_num].copy()
        #print(client)
        client.reset_index(drop=True, inplace=True)
        
        # 1) for every combination of clac_nm (CLAC1_NM, CLAC2_NM, CLAC3_NM)
        clac_nm = client[['CLAC1_NM', 'CLAC2_NM', 'CLAC3_NM']].copy().drop_duplicates()
        #print(clac_nm)
        #print(clac_nm.shape)
        for clac_idx in range(clac_nm.shape[0]) :

            # attributes to save
            total_price = 0
            total_count = 0
            total_amount = 0
            
            # loop rows of each client
            for pur_idx in range(client.shape[0]) :
                purchased = client[['CLAC1_NM', 'CLAC2_NM', 'CLAC3_NM']].iloc[pur_idx, :]
                unique_cn = clac_nm.iloc[clac_idx, :]
                
                if purchased.equals(unique_cn) :
                    #9.29
                    temp = str(client.iloc[pur_idx, :]['SESS_DT'])
                    today = datetime.datetime(int(temp[0:4]), int(temp[4:6]), int(temp[6:8]))
                    lastday = datetime.datetime(2018,9,29)
                    print(lastday, today)
                    print((lastday-today).days)
                    total_price += int(client[['PD_BUY_AM']].iloc[pur_idx, 0].replace(',', '')) * int(client[['PD_BUY_CT']].iloc[pur_idx, 0])
                    total_count += 1
                    total_amount += int(client[['PD_BUY_CT']].iloc[pur_idx, 0])
            
            # attributes to save
            average_price = int(total_price/total_amount)
            average_amount = int(total_amount/total_count)
            
            new_row = [clnt_num, 
                       unique_cn[0], 
                       unique_cn[1], 
                       unique_cn[2], 
                       total_price,
                      total_count,
                      total_amount,
                      average_price,
                      average_amount,
                      client['ZON_NM'][0],
                      client['CITY_NM'][0],
                      client['CLNT_GENDER'][0],
                      client['CLNT_AGE'][0]]       
            print(new_row)
            client_for_clustering.append(new_row)
            
            
        # 2) for every combination of clac_nm (CLAC1_NM, CLAC2_NM)
        clac_nm = client[['CLAC1_NM', 'CLAC2_NM']].copy().drop_duplicates()
        for clac_idx in range(clac_nm.shape[0]) :
            total_price = 0
            total_count = 0
            total_amount = 0
            
            # loop rows of each client
            for pur_idx in range(client.shape[0]) :
                purchased = client[['CLAC1_NM', 'CLAC2_NM']].iloc[pur_idx, :]
                unique_cn = clac_nm.iloc[clac_idx, :]
                
                if purchased.equals(unique_cn) :
                    total_price += int(client[['PD_BUY_AM']].iloc[pur_idx, 0].replace(',', '')) * int(client[['PD_BUY_CT']].iloc[pur_idx, 0])
                    total_count += 1
                    total_amount += int(client[['PD_BUY_CT']].iloc[pur_idx, 0])
                    
            # attributes to save
            average_price = int(total_price/total_amount)
            average_amount = int(total_amount/total_count)
            
            new_row = [clnt_num, 
                       unique_cn[0], 
                       unique_cn[1], 
                       'NaN', 
                       total_price,
                      total_count,
                      total_amount,
                      average_price,
                      average_amount,
                      client['ZON_NM'][0],
                      client['CITY_NM'][0],
                      client['CLNT_GENDER'][0],
                      client['CLNT_AGE'][0]] 
            print(new_row)
            client_for_clustering.append(new_row)
            
        # 3) for every combination of clac_nm (CLAC1_NM)
        clac_nm = client[['CLAC1_NM']].copy().drop_duplicates()
        for clac_idx in range(clac_nm.shape[0]) :
            total_price = 0
            total_count = 0
            total_amount = 0
            
            # loop rows of each client
            for pur_idx in range(client.shape[0]) :
                purchased = client[['CLAC1_NM']].iloc[pur_idx, :]
                unique_cn = clac_nm.iloc[clac_idx, :]
                
                if purchased.equals(unique_cn) :
                    total_price += int(client[['PD_BUY_AM']].iloc[pur_idx, 0].replace(',', '')) * int(client[['PD_BUY_CT']].iloc[pur_idx, 0])
                    total_count += 1
                    total_amount += int(client[['PD_BUY_CT']].iloc[pur_idx, 0])
                    
            # attributes to save
            average_price = int(total_price/total_amount)
            average_amount = int(total_amount/total_count)
            
            new_row = [clnt_num, 
                       unique_cn[0], 
                       'NaN', 
                       'NaN', 
                       total_price,
                      total_count,
                      total_amount,
                      average_price,
                      average_amount,
                      client['ZON_NM'][0],
                      client['CITY_NM'][0],
                      client['CLNT_GENDER'][0],
                      client['CLNT_AGE'][0]] 
            print(new_row)
            client_for_clustering.append(new_row)
            
    else :
        break;
            
#print(client_for_clustering)

2018-09-29 00:00:00 2018-08-27 00:00:00
33
2018-09-29 00:00:00 2018-06-12 00:00:00
109
2018-09-29 00:00:00 2018-06-10 00:00:00
111
2018-09-29 00:00:00 2018-06-10 00:00:00
111
2018-09-29 00:00:00 2018-06-18 00:00:00
103
2018-09-29 00:00:00 2018-07-04 00:00:00
87
[4350334, '화장품/뷰티케어', '메이크업', '블러셔/쉐이딩/하이라이터', 217000, 6, 6, 36166, 1, 'Seoul', 'Seoul', 'F', 30]
2018-09-29 00:00:00 2018-08-27 00:00:00
33
2018-09-29 00:00:00 2018-06-14 00:00:00
107
2018-09-29 00:00:00 2018-06-10 00:00:00
111
2018-09-29 00:00:00 2018-06-10 00:00:00
111
2018-09-29 00:00:00 2018-06-10 00:00:00
111
[4350334, '화장품/뷰티케어', '메이크업', 'BB/파운데이션/컴팩트류', 309000, 5, 5, 61800, 1, 'Seoul', 'Seoul', 'F', 30]
2018-09-29 00:00:00 2018-08-27 00:00:00
33
[4350334, '패션잡화', '여성화', '여성쪼리', 127000, 1, 1, 127000, 1, 'Seoul', 'Seoul', 'F', 30]
2018-09-29 00:00:00 2018-07-19 00:00:00
72
2018-09-29 00:00:00 2018-05-24 00:00:00
128
2018-09-29 00:00:00 2018-04-16 00:00:00
166
[4350334, '원예/애완', '고양이용품', '고양이모래/배변용품', 114200, 3, 7, 16314, 2, 'Seoul', 'Seoul', 'F', 30]
2018-09-29 00:00:00 2018-06-18 00:00:00
103
[4350334, '화장품/뷰티케어', '스킨케어', '페이셜팩류', 25000, 1, 1, 25000, 1, 'Seoul', 'Seoul', 'F', 30]
2018-09-29 00:00:00 2018-05-24 00:00:00
128
2018-09-29 00:00:00 2018-05-24 00:00:00
128
2018-09-29 00:00:00 2018-05-24 00:00:00
128
2018-09-29 00:00:00 2018-05-24 00:00:00
128
2018-09-29 00:00:00 2018-04-05 00:00:00
177
2018-09-29 00:00:00 2018-04-05 00:00:00
177
2018-09-29 00:00:00 2018-04-05 00:00:00
177
2018-09-29 00:00:00 2018-08-03 00:00:00
57
2018-09-29 00:00:00 2018-08-03 00:00:00
57
2018-09-29 00:00:00 2018-04-16 00:00:00
166
2018-09-29 00:00:00 2018-07-25 00:00:00
66
[4350334, '원예/애완', '고양이용품', '고양이간식', 145300, 11, 50, 2906, 4, 'Seoul', 'Seoul', 'F', 30]
2018-09-29 00:00:00 2018-04-20 00:00:00
162
2018-09-29 00:00:00 2018-04-20 00:00:00
162
[4350334, '여성의류', '여성의류하의', '여성바지', 83000, 2, 2, 41500, 1, 'Seoul', 'Seoul', 'F', 30]
2018-09-29 00:00:00 2018-04-20 00:00:00
162
2018-09-29 00:00:00 2018-05-21 00:00:00
131
2018-09-29 00:00:00 2018-05-21 00:00:00
131
[4350334, '여성의류', '여성의류상의', '여성티셔츠/탑', 64000, 3, 3, 21333, 1, 'Seoul', 'Seoul', 'F', 30]
2018-09-29 00:00:00 2018-05-21 00:00:00
131
2018-09-29 00:00:00 2018-07-16 00:00:00
75
2018-09-29 00:00:00 2018-07-16 00:00:00
75
2018-09-29 00:00:00 2018-07-16 00:00:00
75
2018-09-29 00:00:00 2018-07-16 00:00:00
75
2018-09-29 00:00:00 2018-07-04 00:00:00
87
[4350334, '여성의류', '여성의류전신', '여성원피스', 371360, 6, 6, 61893, 1, 'Seoul', 'Seoul', 'F', 30]
2018-09-29 00:00:00 2018-05-21 00:00:00
131
2018-09-29 00:00:00 2018-08-31 00:00:00
29
[4350334, '여성의류', '여성의류하의', '여성스커트', 42900, 2, 2, 21450, 1, 'Seoul', 'Seoul', 'F', 30]
2018-09-29 00:00:00 2018-05-21 00:00:00
131
[4350334, '여성의류', '여성의류상의', '여성남방셔츠', 37000, 1, 1, 37000, 1, 'Seoul', 'Seoul', 'F', 30]
2018-09-29 00:00:00 2018-07-25 00:00:00
66
2018-09-29 00:00:00 2018-07-25 00:00:00
66
[4350334, '남성의류', '남성의류하의', '남성캐주얼바지', 11800, 2, 2, 5900, 1, 'Seoul', 'Seoul', 'F', 30]
2018-09-29 00:00:00 2018-07-17 00:00:00
74
[4350334, '음료', '기능성음료', '기타기능성음료', 12000, 1, 2, 6000, 2, 'Seoul', 'Seoul', 'F', 30]
2018-09-29 00:00:00 2018-07-16 00:00:00
75
[4350334, '화장품/뷰티케어', '스킨케어', '스킨케어세트', 37000, 1, 1, 37000, 1, 'Seoul', 'Seoul', 'F', 30]
2018-09-29 00:00:00 2018-07-04 00:00:00
87
2018-09-29 00:00:00 2018-07-12 00:00:00
79
[4350334, '화장품/뷰티케어', '메이크업', '아이섀도우', 54000, 2, 2, 27000, 1, 'Seoul', 'Seoul', 'F', 30]
2018-09-29 00:00:00 2018-06-10 00:00:00
111
2018-09-29 00:00:00 2018-06-09 00:00:00
112
[4350334, '화장품/뷰티케어', '메이크업', '립글로즈/틴트', 74000, 2, 2, 37000, 1, 'Seoul', 'Seoul', 'F', 30]
2018-09-29 00:00:00 2018-07-04 00:00:00
87
[4350334, '패션잡화', '여성화', '여성슬리퍼', 70000, 1, 1, 70000, 1, 'Seoul', 'Seoul', 'F', 30]
2018-09-29 00:00:00 2018-05-25 00:00:00
127
2018-09-29 00:00:00 2018-05-25 00:00:00
127
[4350334, '남성의류', '남성의류상의', '남성티셔츠', 226000, 2, 2, 113000, 1, 'Seoul', 'Seoul', 'F', 30]
2018-09-29 00:00:00 2018-08-21 00:00:00
39
2018-09-29 00:00:00 2018-08-22 00:00:00
38
[4350334, '패션잡화', '여성화', '여성슬링백', 176000, 2, 2, 88000, 1, 'Seoul', 'Seoul', 'F', 30]
2018-09-29 00:00:00 2018-04-02 00:00:00
180
[4350334, '남성의류', '남성의류상의', '남성남방셔츠', 79200, 1, 1, 79200, 1, 'Seoul', 'Seoul', 'F', 30]
2018-09-29 00:00:00 2018-07-28 00:00:00
63
[4350334, '퍼스널케어', '바디케어', '바디워시', 34000, 1, 1, 34000, 1, 'Seoul', 'Seoul', 'F', 30]
[4350334, '화장품/뷰티케어', '메이크업', 'NaN', 654000, 15, 15, 43600, 1, 'Seoul', 'Seoul', 'F', 30]
[4350334, '패션잡화', '여성화', 'NaN', 373000, 4, 4, 93250, 1, 'Seoul', 'Seoul', 'F', 30]
[4350334, '원예/애완', '고양이용품', 'NaN', 259500, 14, 57, 4552, 4, 'Seoul', 'Seoul', 'F', 30]
[4350334, '화장품/뷰티케어', '스킨케어', 'NaN', 62000, 2, 2, 31000, 1, 'Seoul', 'Seoul', 'F', 30]
[4350334, '여성의류', '여성의류하의', 'NaN', 125900, 4, 4, 31475, 1, 'Seoul', 'Seoul', 'F', 30]
[4350334, '여성의류', '여성의류상의', 'NaN', 101000, 4, 4, 25250, 1, 'Seoul', 'Seoul', 'F', 30]
[4350334, '여성의류', '여성의류전신', 'NaN', 371360, 6, 6, 61893, 1, 'Seoul', 'Seoul', 'F', 30]
[4350334, '남성의류', '남성의류하의', 'NaN', 11800, 2, 2, 5900, 1, 'Seoul', 'Seoul', 'F', 30]
[4350334, '음료', '기능성음료', 'NaN', 12000, 1, 2, 6000, 2, 'Seoul', 'Seoul', 'F', 30]
[4350334, '남성의류', '남성의류상의', 'NaN', 305200, 3, 3, 101733, 1, 'Seoul', 'Seoul', 'F', 30]
[4350334, '퍼스널케어', '바디케어', 'NaN', 34000, 1, 1, 34000, 1, 'Seoul', 'Seoul', 'F', 30]
[4350334, '화장품/뷰티케어', 'NaN', 'NaN', 716000, 17, 17, 42117, 1, 'Seoul', 'Seoul', 'F', 30]
[4350334, '패션잡화', 'NaN', 'NaN', 373000, 4, 4, 93250, 1, 'Seoul', 'Seoul', 'F', 30]
[4350334, '원예/애완', 'NaN', 'NaN', 259500, 14, 57, 4552, 4, 'Seoul', 'Seoul', 'F', 30]
[4350334, '여성의류', 'NaN', 'NaN', 598260, 14, 14, 42732, 1, 'Seoul', 'Seoul', 'F', 30]
[4350334, '남성의류', 'NaN', 'NaN', 317000, 5, 5, 63400, 1, 'Seoul', 'Seoul', 'F', 30]
[4350334, '음료', 'NaN', 'NaN', 12000, 1, 2, 6000, 2, 'Seoul', 'Seoul', 'F', 30]
[4350334, '퍼스널케어', 'NaN', 'NaN', 34000, 1, 1, 34000, 1, 'Seoul', 'Seoul', 'F', 30]

### 2) KMeans Clustering

In [48]:
from sklearn.cluster import KMeans
import seaborn as sns

# KMeans

data_for_clustering = heavy_light_users.values.reshape(-1, 1)
km = KMeans(n_clusters=4)
km.fit(data_for_clustering)
labels = km.labels_
results = pd.DataFrame([heavy_light_users.index,heavy_light_users,labels]).T
print(results)

TypeError: 'RangeIndex' object is not callable

2)